# Houston, TX Regressions
Regressions to compare E+ v9.2 and v9.5 outputs

In [47]:
# Dependencies
import pandas as pd
from matplotlib import pyplot as plt
from sklearn import linear_model
import numpy as np
import statsmodels.api as sm

---

## Annual Data

In [98]:
hou_annual95=pd.read_csv("../Regression_Scraper_Output/hou_annual95_data.csv")
hou_annual95

,Scenario,Illuminance(lux),FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanCost($),HeatingCost($),CoolingCost($),AnnualEnergy(kBtu),AnnualCost($)
0,1,16518364.55,3981.04,18734.71,21610.55,130.67,207.96,709.34,44326.29,1047.97
1,2,16518364.55,4261.01,17631.65,23587.69,139.86,195.71,774.24,45480.35,1109.82
2,3,16518364.55,4537.84,16755.94,25484.79,148.95,185.99,836.51,46778.56,1171.45
3,4,17230092.35,4832.03,15981.90,27456.19,158.61,177.40,901.22,48270.13,1237.23
4,5,17941975.67,5143.42,15299.11,29502.77,168.83,169.82,968.40,49945.30,1307.05
5,6,17941975.67,5449.01,14726.30,31482.00,178.86,163.46,1033.36,51657.31,1375.68
6,7,17941975.67,5757.12,14235.10,33451.59,188.97,158.01,1098.01,53443.81,1444.99
7,8,16518364.55,4039.28,20314.45,21665.99,132.59,225.49,711.16,46019.72,1069.24
8,9,16518364.55,4311.99,19183.79,23604.85,141.54,212.94,774.80,47100.62,1129.28
9,10,16518364.55,4580.80,18271.92,25461.37,150.36,202.82,835.74,48314.09,1188.92
10,11,17230092.35,4868.76,17461.62,27403.39,159.81,193.82,899.49,49733.77,1253.12
11,12,17941975.67,5174.82,16738.56,29427.31,169.86,185.80,965.92,51340.69,1321.58
12,13,17941975.67,5474.49,16134.31,31378.16,179.69,179.09,1029.96,52986.96,1388.74
13,14,17941975.67,5776.54,15610.90,33318.98,189.61,173.28,1093.66,54706.42,1456.55
14,15,17386342.20,4101.67,21862.65,21753.00,134.63,242.68,714.02,47717.32,1091.33
15,16,17386342.20,4373.89,20690.98,23698.18,143.57,229.67,777.87,48763.06,1151.11
16,17,17241136.53,4642.95,19732.63,25566.85,152.40,219.03,839.21,49942.44,1210.64
17,18,17241136.53,4922.56,18898.35,27463.47,161.58,209.77,901.46,51284.38,1272.81
18,19,17241136.53,5208.40,18173.45,29365.55,170.96,201.73,963.89,52747.40,1336.58
19,20,17941975.67,5503.24,17533.10,31294.44,180.64,194.62,1027.21,54330.78,1402.46
20,21,17941975.67,5799.64,16980.83,33208.13,190.37,188.49,1090.02,55988.59,1468.88
21,22,17386342.20,4162.05,23390.66,21830.36,136.61,259.64,716.56,49383.08,1112.81
22,23,17386342.20,4428.18,22196.78,23743.13,145.35,246.38,779.34,50368.10,1171.08
23,24,17241136.53,4690.75,21213.80,25577.84,153.97,235.47,839.57,51482.40,1229.01
24,25,17241136.53,4963.79,20348.71,27441.53,162.93,225.87,900.74,52754.02,1289.54
25,26,17241136.53,5243.26,19595.11,29311.75,172.10,217.51,962.13,54150.13,1351.74
26,27,17941975.67,5534.52,18918.20,31227.55,181.66,209.99,1025.01,55680.27,1416.67
27,28,17941975.67,5825.51,18338.67,33114.87,191.22,203.56,1086.96,57279.05,1481.74
28,29,17386342.20,4222.89,24892.06,21915.18,138.61,276.30,719.34,51030.12,1134.26
29,30,17386342.20,4483.32,23675.05,23798.00,147.16,262.79,781.14,51956.36,1191.10
30,31,17241136.53,4739.82,22669.78,25600.76,155.58,251.63,840.32,53010.37,1247.53
31,32,17241136.53,5006.61,21779.13,27432.28,164.34,241.75,900.44,54218.02,1306.52
32,33,17241136.53,5279.95,20997.44,29271.78,173.31,233.07,960.82,55549.17,1367.20
33,34,17941975.67,5567.81,20288.11,31174.66,182.76,225.20,1023.28,57030.58,1431.23
34,35,17941975.67,5853.80,19682.30,33037.80,192.14,218.47,1084.43,58573.90,1495.05
35,36,17386342.20,4283.97,26364.42,22006.73,140.62,292.65,722.35,52655.12,1155.61
36,37,17386342.20,4539.19,25127.00,23862.05,148.99,278.91,783.25,53528.24,1211.15
37,38,17241136.53,4790.04,24101.82,25634.70,157.23,267.53,841.43,54526.56,1266.19
38,39,17241136.53,5051.05,23186.78,27436.69,165.80,257.37,900.58,55674.52,1323.75
39,40,17241136.53,5318.48,22379.76,29246.03,174.57,248.42,959.97,56944.26,1382.96
40,41,17941975.67,5602.97,21638.90,31135.84,183.91,240.19,1022.00,58377.72,1446.11
41,42,17941975.67,5884.07,21010.05,32974.68,193.14,233.21,1082.36,59868.79,1508.71
42,43,17687298.15,4351.89,27768.60,22155.07,142.85,308.23,727.22,54275.56,1178.29
43,44,17687298.15,4611.79,26473.75,24051.97,151.38,293.86,789.48,55137.51,1234.72
44,45,17614696.15,4872.22,25380.06,25898.72,159.93,281.72,850.10,56150.99,1291.74
45,46,17529510.77,5136.69,24433.09,27728.50,168.61,271.21,910.16,57298.28,1349.97
46,47,17486918.07,5403.76,23611.28,29538.49,177.37,262.09,969.57,58553.53,1409.03
47,48,17837336.85,5677.24,22881.85,31358.81,186.35,253.99,1029.32,59917.90,1469.66
48,49,18187110.05,5972.28,22208.49,33290.47,196.03,246.51,1092.73,61471.23,1535.27

In [99]:
hou_monthly92=pd.read_csv("../Regression_Scraper_Output/hou_annual92_data.csv")
hou_monthly92

,Scenario,Illuminance(lux),FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanCost($),HeatingCost($),CoolingCost($),AnnualEnergy(kBtu),AnnualCost($)
0,1,16603159.80,3910.54,18997.25,21112.82,128.36,210.87,693.01,44020.60,1032.24
1,2,16603159.80,4178.35,17864.64,23022.91,137.15,198.30,755.70,45065.91,1091.15
2,3,16603159.80,4461.17,16919.63,24974.55,146.43,187.81,819.76,46355.36,1154.00
3,4,17238915.91,4632.35,16426.59,26132.36,152.05,182.34,857.77,47191.30,1192.15
4,5,17875077.27,4892.66,15783.63,27865.36,160.60,175.20,914.65,48541.65,1250.45
5,6,17875077.27,5231.81,15063.94,30085.87,171.73,167.21,987.54,50381.62,1326.48
6,7,17875077.27,5610.12,14412.35,32520.22,184.15,159.98,1067.44,52542.69,1411.57
7,8,16603159.80,3972.23,20572.67,21190.55,130.38,228.36,695.56,45735.45,1054.30
8,9,16603159.80,4234.97,19408.90,23076.45,139.01,215.44,757.46,46720.32,1111.91
9,10,16603159.80,4509.33,18430.81,24983.96,148.01,204.58,820.07,47924.10,1172.67
10,11,17238915.91,4681.45,17900.34,26155.93,153.66,198.69,858.54,48737.72,1210.90
11,12,17875077.27,4941.27,17218.43,27894.80,162.19,191.12,915.62,50054.50,1268.93
12,13,17875077.27,5276.06,16461.91,30097.75,173.18,182.73,987.93,51835.72,1343.84
13,14,17875077.27,5643.21,15782.06,32471.38,185.23,175.18,1065.84,53896.66,1426.25
14,15,17331794.15,4032.45,22145.83,21258.31,132.36,245.82,697.78,47436.59,1075.96
15,16,17331794.15,4293.73,20937.98,23145.35,140.94,232.41,759.72,48377.06,1133.07
16,17,17158418.05,4459.13,20306.90,24305.93,146.37,225.41,797.82,49071.96,1169.59
17,18,17158418.05,4730.20,19378.49,26175.50,155.26,215.10,859.18,50284.19,1229.55
18,19,17158418.05,5038.65,18513.44,28251.56,165.39,205.50,927.33,51803.65,1298.22
19,20,17875077.27,5322.64,17848.70,30124.62,174.71,198.12,988.81,53295.96,1361.64
20,21,17875077.27,5679.37,17143.63,32441.22,186.42,190.29,1064.85,55264.22,1441.56
21,22,17331794.15,4096.18,23669.88,21357.35,134.45,262.74,701.03,49123.42,1098.22
22,23,17331794.15,4353.60,22432.54,23227.20,142.90,249.00,762.41,50013.35,1154.31
23,24,17158418.05,4518.43,21775.50,24389.79,148.31,241.71,800.57,50683.72,1190.59
24,25,17158418.05,4783.27,20822.95,26226.88,157.01,231.13,860.87,51833.10,1249.01
25,26,17158418.05,5087.17,19923.05,28283.38,166.98,221.15,928.37,53293.60,1316.50
26,27,17875077.27,5370.81,19220.46,30162.99,176.29,213.35,990.07,54754.26,1379.71
27,28,17875077.27,5722.22,18486.15,32454.62,187.83,205.20,1065.29,56663.00,1458.31
28,29,17331794.15,4160.06,25165.43,21462.32,136.55,279.34,704.48,50787.81,1120.36
29,30,17331794.15,4414.13,23900.27,23317.79,144.89,265.29,765.38,51632.19,1175.56
30,31,17158418.05,4578.37,23218.01,24482.06,150.28,257.72,803.60,52278.44,1211.60
31,32,17158418.05,4838.36,22240.69,26295.28,158.81,246.87,863.12,53374.34,1268.80
32,33,17158418.05,5136.92,21312.03,28325.88,168.61,236.56,929.77,54774.84,1334.95
33,34,17875077.27,5420.37,20573.23,30212.50,177.92,228.36,991.69,56206.10,1397.97
34,35,17875077.27,5767.08,19812.17,32482.25,189.30,219.92,1066.20,58061.51,1475.41
35,36,17331794.15,4223.93,26631.57,21572.54,138.65,295.61,708.10,52428.05,1142.35
36,37,17331794.15,4475.07,25340.31,23415.75,146.89,281.28,768.60,53231.14,1196.76
37,38,17158418.05,4638.80,24632.35,24582.29,152.26,273.42,806.89,53853.43,1232.57
38,39,17158418.05,4897.22,23624.09,26393.17,160.75,262.23,866.33,54914.48,1289.30
39,40,17158418.05,5188.26,22679.09,28381.50,170.30,251.74,931.59,56248.84,1353.63
40,41,17875077.27,5471.37,21904.37,30274.13,179.59,243.14,993.72,57649.86,1416.45
41,42,17875077.27,5813.56,21119.33,32522.50,190.82,234.42,1067.52,59455.39,1492.77
42,43,17592228.70,4293.20,28028.64,21730.58,140.92,311.12,713.28,54052.42,1165.32
43,44,17592228.70,4553.99,26658.56,23651.12,149.48,295.91,776.32,54863.67,1221.71
44,45,17505617.62,4771.94,25688.06,25209.69,156.63,285.14,827.48,55669.69,1269.25
45,46,17444854.13,5017.88,24746.31,26927.62,164.71,274.68,883.87,56691.81,1323.26
46,47,17414467.90,5294.24,23850.10,28813.68,173.78,264.74,945.78,57958.02,1384.29
47,48,17772827.14,5592.56,23035.01,30807.85,183.57,255.69,1011.24,59435.42,1450.49
48,49,18099786.74,5907.27,22310.64,32873.64,193.90,247.65,1079.04,61091.56,1520.59

## Merge df with performance attributes

In [54]:
# Read in U and SHGC values
performance=pd.read_csv("data/para_values.csv")
#performance

In [56]:
# Merge the csv with the with the window performance attributes

hou_monthly95_all = pd.merge(hou_monthly95, performance, on="Scenario")
hou_monthly95_all

,Scenario,Month,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanCost($),HeatingCost($),CoolingCost($),MonthlyEnergy(kBtu),MonthlyCost($),U-factor,SHGC
0,1,1,195.78,5830.89,23.73,6.43,64.72,0.78,6050.40,71.93,0.1,0.1
1,1,2,158.39,4215.54,116.69,5.20,46.79,3.83,4490.63,55.82,0.1,0.1
2,1,3,125.32,2161.27,326.17,4.11,23.99,10.71,2612.76,38.81,0.1,0.1
3,1,4,172.08,352.04,990.48,5.65,3.91,32.51,1514.61,42.07,0.1,0.1
4,1,5,344.52,1.39,2169.55,11.31,0.02,71.21,2515.47,82.54,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
583,49,8,911.75,0.00,5987.13,29.93,0.00,196.52,6898.88,226.45,0.7,0.7
584,49,9,767.22,0.00,4939.78,25.18,0.00,162.14,5707.01,187.33,0.7,0.7
585,49,10,403.95,694.11,2338.03,13.26,7.70,76.74,3436.10,97.71,0.7,0.7
586,49,11,265.52,1956.36,1198.09,8.72,21.72,39.33,3419.97,69.76,0.7,0.7
587,49,12,245.48,5105.90,450.82,8.06,56.68,14.80,5802.21,79.53,0.7,0.7

In [60]:
hou_monthly92_all = pd.merge(hou_monthly92, performance, on="Scenario")
hou_monthly92_all

,Scenario,Month,FanEnergy(kBtu),HeatingEnergy(kBtu),CoolingEnergy(kBtu),FanCost($),HeatingCost($),CoolingCost($),MonthlyEnergy(kBtu),MonthlyCost($),U-factor,SHGC
0,1,1,197.51,5902.83,20.11,6.48,65.52,0.66,6120.44,72.66,0.1,0.1
1,1,2,158.22,4270.27,105.12,5.19,47.40,3.45,4533.60,56.04,0.1,0.1
2,1,3,122.07,2206.32,298.34,4.01,24.49,9.79,2626.73,38.29,0.1,0.1
3,1,4,165.04,362.40,945.35,5.42,4.02,31.03,1472.79,40.47,0.1,0.1
4,1,5,335.55,1.49,2113.61,11.01,0.02,69.38,2450.65,80.41,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...
583,49,8,903.59,0.00,5934.75,29.66,0.00,194.80,6838.34,224.46,0.7,0.7
584,49,9,759.24,0.00,4889.64,24.92,0.00,160.50,5648.88,185.42,0.7,0.7
585,49,10,397.62,696.67,2299.90,13.05,7.73,75.49,3394.19,96.28,0.7,0.7
586,49,11,261.69,1963.81,1174.55,8.59,21.80,38.55,3400.05,68.94,0.7,0.7
587,49,12,243.91,5124.84,438.38,8.01,56.89,14.39,5807.13,79.28,0.7,0.7

## Get just the wanted energy data

In [94]:
# Drop unwanted columns, keep scenario, energy, U and SHGC and reset index
hou_monthly95_energy = hou_monthly95_all[["Scenario", "MonthlyEnergy(kBtu)", "U-factor", "SHGC"]]

# hou_monthly95_energy.set_index(["Scenario"], inplace=True)
hou_monthly95_energy

     Scenario  MonthlyEnergy(kBtu)  U-factor  SHGC
0           1              6050.40       0.1   0.1
1           1              4490.63       0.1   0.1
2           1              2612.76       0.1   0.1
3           1              1514.61       0.1   0.1
4           1              2515.47       0.1   0.1
..        ...                  ...       ...   ...
583        49              6898.88       0.7   0.7
584        49              5707.01       0.7   0.7
585        49              3436.10       0.7   0.7
586        49              3419.97       0.7   0.7
587        49              5802.21       0.7   0.7

[588 rows x 4 columns]

In [87]:
hou_monthly92_energy = hou_monthly92_all[["Scenario", "MonthlyEnergy(kBtu)", "U-factor", "SHGC"]]

# hou_monthly92_energy.set_index(["Scenario"], inplace=True)
hou_monthly92_energy

     Scenario  MonthlyEnergy(kBtu)  U-factor  SHGC
0           1              6120.44       0.1   0.1
1           1              4533.60       0.1   0.1
2           1              2626.73       0.1   0.1
3           1              1472.79       0.1   0.1
4           1              2450.65       0.1   0.1
..        ...                  ...       ...   ...
583        49              6838.34       0.7   0.7
584        49              5648.88       0.7   0.7
585        49              3394.19       0.7   0.7
586        49              3400.05       0.7   0.7
587        49              5807.13       0.7   0.7

[588 rows x 4 columns]

## Get just the wanted cost data

In [69]:
# Drop unwanted columns, keep scenario, costs, U and SHGC and reset index
hou_monthly95_cost = hou_monthly95_all[["Scenario", "MonthlyCost($)", "U-factor", "SHGC"]]

hou_monthly95_cost.set_index(["Scenario"], inplace=True)
hou_monthly95_cost

          MonthlyCost($)  U-factor  SHGC
Scenario
1                  71.93       0.1   0.1
1                  55.82       0.1   0.1
1                  38.81       0.1   0.1
1                  42.07       0.1   0.1
1                  82.54       0.1   0.1
...                  ...       ...   ...
49                226.45       0.7   0.7
49                187.33       0.7   0.7
49                 97.71       0.7   0.7
49                 69.76       0.7   0.7
49                 79.53       0.7   0.7

[588 rows x 3 columns]

In [70]:
hou_monthly92_cost = hou_monthly92_all[["Scenario", "MonthlyCost($)", "U-factor", "SHGC"]]

hou_monthly92_cost.set_index(["Scenario"], inplace=True)
hou_monthly92_cost

          MonthlyCost($)  U-factor  SHGC
Scenario
1                  72.66       0.1   0.1
1                  56.04       0.1   0.1
1                  38.29       0.1   0.1
1                  40.47       0.1   0.1
1                  80.41       0.1   0.1
...                  ...       ...   ...
49                224.46       0.7   0.7
49                185.42       0.7   0.7
49                 96.28       0.7   0.7
49                 68.94       0.7   0.7
49                 79.28       0.7   0.7

[588 rows x 3 columns]

------

## Scatter Plots to check for linearity

In [83]:
# # 95 Hourly energy vs U-factor
# plt.scatter(hou_monthly95_energy.iloc[:,1], hou_monthly95_energy.iloc[:,0])
# plt.xlabel("U-factor")
# plt.ylabel("Monthly Energy (kbtu)")
# plt.show

In [84]:
# # 95 Hourly cost vs U-factor
# plt.scatter(hou_monthly95_cost.iloc[:,1], hou_monthly95_cost.iloc[:,0])
# plt.xlabel("U-factor")
# plt.ylabel("Monthly Energy (kbtu)")
# plt.show

## Regression energy95

In [95]:
# Define X and Y

X = hou_monthly95_energy[["U-factor", "SHGC"]]
y = hou_monthly95_energy["MonthlyEnergy(kBtu)"]

regr = linear_model.LinearRegression()
regr.fit(X,y)

print("Intercept: \n", regr.intercept_)
print("Coefficients: \n", regr.coef_)

Intercept:
 3475.476768707482
Coefficients:
 [1241.70897109 1114.34336735]

In [15]:
# #Train, test, split
# X95_train, X95_test, y95_train, y95_test = train_test_split(X95, y95, test_size=.2, random_state=1)

In [16]:
# # Create an instance
# regression_model = LinearRegression()

In [17]:
# # Fit the model
# regression_model.fit(X95_train, y95_train)

In [18]:
# # Get the intercept and the coefficients
# intercept95 = regression_model.intercept_[0]
# coef95 = regression_model.coef_[0]

# print("The intercept for the model is {:.4}".format(intercept))
# print("-"*100)

# #loop through and print the data
# for cf in zip(X95.columns, coef95):
#     print("The coefficient for {} is {:2}".format(cf[0],cf[1]))

## Train the 92 model

In [19]:
# # Drop unwanted columns, keep energy, U and SHGC
# hou_hourly92_clean = hou_hourly92_all[["HourlyEnergy(kBtu)", "U-factor", "SHGC"]]

In [20]:
# # Define X and Y

# X92 = hou_hourly92_clean.drop("HourlyEnergy(kBtu)", axis = 1)
# y92 = hou_hourly92_clean[["HourlyEnergy(kBtu)"]]

# y92

In [21]:
# #Train, test, split
# X92_train, X92_test, y92_train, y92_test = train_test_split(X92, y92, test_size=.2, random_state=1)

In [22]:
# # Create an instance
# regression_model = LinearRegression()

In [23]:
# # Fit the model
# regression_model.fit(X92_train, y92_train)

In [24]:
# # Get the intercept and the coefficients
# intercept92 = regression_model.intercept_[0]
# coef92 = regression_model.coef_[0]

# print("The intercept for the model is {:.4}".format(intercept))
# print("-"*100)

# #loop through and print the data
# for cf in zip(X92.columns, coef92):
#     print("The coefficient for {} is {:2}".format(cf[0],cf[1]))